body
{
    background-color: #030b20;
}
.mAin_ITesm
{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: relative;
    left: 3%;
    top: 40px;
    background-image: linear-gradient(#101b2e,#0a101b, #060b13);
    width: 95%;
    height: 600px;
    border-radius: 10px;
    box-shadow: 10px 10px 100px black;
    text-align: center;
    color: snow;
}
.New_New_Title
{
    width: 50%;
    position: relative;
    bottom:20px;
    left: 25%;
    background-image: linear-gradient(#0b1320,#05080e, #060b13);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.Main_Holder_Of_Items,.Main_Holder_Of_Items2
{
    position: relative;
    bottom: 40px;
    left: 3%;
    border-radius: 10px;
    width: 95%;
    height: 100px;
    background-image: linear-gradient(#15253f,#12203b, #081935);
}
.Main_Holder_Of_Items2
{
    display: grid;
    grid-template-rows: 30% 40% 20%;
    gap: 5%;
    height: 350px;
}
.Main_PAssworld_Input, input
{
    width: 95%;
    height: 50px;
    position: relative;
    top: 20px;
    border-radius: 10px;
    background-image: linear-gradient(#0b1320,#05080e, #060b13);
    color: rgb(255, 255, 255);
    text-align: center;

}

.Inputs_Div,.The_Cheack_boxs,.The_home_Of_Buttons
{
    display: flex;
    gap: 5%;
}
.The_home_Of_Buttons
{
    gap: 2%;
}
.Inputs_Div input
{
    position: relative;
    left: 2%;
    width: 95%;
    background-image: linear-gradient(#0b1320,#05080e, #060b13);
    color: rgb(0, 0, 0);

}

.The_home_Of_Buttons button
{
    height: 50px;
    border-radius: 10px;
    position: relative;
    left: 5%;
    width: 20%;
    background-image: linear-gradient(#0b1320,#05080e, #060b13);
    color: snow;
}

.The_Cheack_boxs legend
{
    top: 15px;
    position: relative;
    left: 35%;
    font-size: larger;
    text-shadow: 5px 5px 10px black;

}
button:hover, input:hover
{
    background-image: linear-gradient(#101b2e,#0a101b, #060b13);
}
@media (max-width:762px) {
    .The_Cheack_boxs legend
    {
        position: relative;
        left: 10%;
    }
}
@media (max-width:585px)
{
    .The_Cheack_boxs legend
    {
        position: relative;
        left: 3%;
    }
}