.Other_Header
{
    position: relative;
    bottom: 60px;
    background-color: #0b1320;
    height: 30px;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    width: 95%;
    left: 2%;
    text-align: center;
    z-index: 0;font-size: larger;
    display: flex;
    gap: 5%;
    align-items: center;
}
.Other_Header a 
{
    position: relative;
    left: 45%;
    nav-up: auto;
}
.Main_Items_For_Buttons
{
    display: flex;
    position: relative;
    bottom: 600px;
    height: 600px;
    background-color: #0b1320;
    gap: 2%;
    
}
.Other_Items_For_the_button
{
    display: grid;
    grid-template-columns: 15% 15% 15% 20% ;
    flex-direction: row;
    gap: 10%;
    width: 100%;
}
.Other_Items_For_the_button a button
{
    color: snow;
    text-align: center;
    position: relative;
    top: 15px;
    width: 100%;
    background-image: linear-gradient(#101b2e,#0a101b, #060b13);
    height: 550px;
    border-radius: 10px;
    border: none;
    font-size: larger;
}
.Thing_for_the_buttonss
{
    height: 600px;
    background-image: linear-gradient(#21375c,#1c2c4b, #13233b);
    width: 10%;
    color: snow;
    font-size: larger;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.Other_Items_For_the_button a button:hover
{
    background-image: linear-gradient(#0b1320,#05080e, #060b13);
    box-shadow: 10px 10px 100px black;
}