.Main_Items
{
    height: 500px;
}
.Main_itemss
{
    position: relative;
    display: flex;
    gap: 5%;
    left: 0.5%;
   
}
.Main_divs
{
    width: 95%;
}
.The_Main_ul_for_proJects
{
    display: flex;
    flex-direction: column;
    width: 95%;
    overflow-y: scroll;
    height: 300px;
    gap: 5%;
    background-image: linear-gradient(#0d1625,#0a1120, #040e1f);
    position: relative;
    bottom: 15px;
    border-radius: 10px;
}
.main_Buttons_for_projects
{
    width: 95%;
    border-radius: 10px;
    border: none;
    background-image: linear-gradient(#132136,#0a101b, #09101b);
    color: snow;
}
.main_Buttons_for_projects:hover
{
    background-image: linear-gradient(#060b13,#05080e, #060b13);
}